* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

.body {
  width: 100%;
  height: 100vh;
  background-image: url('../images/super-mario-bros-level-background-5.png');
}

.body,
.header,
.aside,
.game-board,
.stats,
.stats-name,
.stats-value,
.modal,
.modal-body,
.modal-title,
.modal-content,
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body, .card {
  position: relative;
}

.body {
  flex-flow: row wrap;
}

.header {
  width: 100%;
  height: 15%;
  font-size: 7vmin;
}

.aside {
  width: 18%;
  height: 85%;
  flex-flow: row wrap;
  font-size: 5vmin;
}

.stats {
  width: 80%;
  height: 10%;
  flex-direction: column;
}
.stats-name,
.stats-value {
  width: 100%;
  height: 100%;
}

.stats-value {
  font-size: 3vmin;
}

.game-board {
  width: 82%;
  height: 85%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 15%;
  height: 30%;
  border: 5px solid transparent;
}

.front, .back {
  width: 100%;
  height: 100%;
}

.front {
  background-position: center;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

.back {
  background-color: white;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.back:hover {
  transform: scale(1.1);
}

.disable-click {
  pointer-events: none;
}

.modal {
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}

.modal-body {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  flex-flow: row wrap;
  align-content: space-between;
  background-image: url('../images/course-clear.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.modal-title,
.modal-button {
  width: 80%;
}

.modal-title,
.modal-button {
  color: red;
  text-shadow: -1px 1px 0 white,
                1px 1px 0 white,
                1px -1px 0 white,
                -1px -1px 0 white;
}

.modal-title {
  height: 15%;
  font-size: 5vmin;
}

.modal-button {
  height: 15%;
  font-size: 3vmin;
  font-weight: bold;
  background-color: red;
  border-radius: 15px;
  margin-bottom: 5px;
}

.modal-button:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}
